
[V200R003C00]
#
 sysname Hafnium OAM Server
 header login information "Property of Hafnium Network. Unauthorized access is prohibited. For support, please contact network.support@hafnium.com"
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
 rsa peer-public-key 10.201.11.9
  public-key-code begin
   30820109
     02820100
       D4C64375 1BFEA066 8F8B7F69 7818D4AE E938A14C 24B5E83D EED88ADA AEB3584F
       46BDB610 E03C9954 9DAF344D CE835F00 A4A8AB23 8BF1A01F 81AC1D49 AEECCE7E
       3ADA492C 8BDC1274 91CA9F1F 140B8EAA 97254D3D 2403BB69 0C47ED3D E55672E2
       56D0EC2D 5D732739 FA56AD2E DB55075D E6F88486 476459CC EEB7A533 C3A3C57D
       FDA2085F F643B45E 086326A2 A2DC73B4 598CDED6 78FD3629 DD0449AE 6E352D47
       A25020E2 C292331E C8C60712 8750A751 CFACF747 53B196AF DFAD96EE 11357728
       D486FAF7 80128BC3 164D1D69 05A77366 36F6C1B7 E5B8020E A2C9608F B587CAEB
       F47690DE 904D6BDC 0AEA6A24 5D537E19 DDDB6534 CFCA945E 72890A02 34067535
     0203
       010001
  public-key-code end
 peer-public-key end
#
drop-profile default
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$;^lr*:5ZN/N3&.-ON!cYeM&u%$%$
 local-user admin service-type http
 local-user jonas01 password cipher %$%$/dg/8xS(USvoDWVM6ezPeM&u%$%$
 local-user jonas01 privilege level 3
 local-user jonas01 service-type terminal
#
firewall zone Local
 priority 15
#
interface Vlanif1
#
interface GigabitEthernet0/0/0
#
interface GigabitEthernet0/0/1
 description Link to Sulphur-44
#
interface GigabitEthernet0/0/1.1000
 description OAM
 dot1q termination vid 1000
 ip address 10.201.11.49 255.255.255.252 
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 10.128.255.100 255.255.255.255 
#
 ssh client 10.201.11.9 assign rsa-key 10.201.11.9
 ssh client first-time enable 
 stelnet server enable 
#
ip route-static 10.0.0.0 255.0.0.0 10.201.11.50
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
user-interface vty 16 20
#
wlan ac
#
return