!CfgFileCrc:38cc6938
!Software Version V800R011C00SPC607B607
!Last configuration was updated at 2024-08-29 21:21:28 UTC by SYSTEM automatically
!Last configuration was saved at 2024-08-29 21:54:02 UTC
!MKHash 0000000000000000
#
sysname Thorium-33
#
set neid 18a89
#
vsm on-board-mode enable
#
snmp-agent trap type base-trap
#
icmp rate-limit disable
#
ip dcn vpn-instance __dcn_vpn__
 ipv4-family
#
mpls lsr-id 10.128.51.33
#
mpls
#
mpls ldp
 #
 ipv4-family
#
aaa
 #
 authentication-scheme default0
 #
 authentication-scheme default1
 #
 authentication-scheme default
  authentication-mode local radius
 #
 authorization-scheme default
 #
 accounting-scheme default0
 #
 accounting-scheme default1
 #
 domain default0
 #
 domain default1
 #
 domain default_admin
#
license
#
isis 1
 is-level level-2
 network-entity 49.0051.0101.2805.1033.00
 is-name thorium
#
interface Ethernet1/0/0
 undo shutdown
 dcn
 dcn mode vlan
#
interface Ethernet1/0/0.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/1
 undo shutdown
 dcn
 dcn mode vlan
#
interface Ethernet1/0/1.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/2
 undo shutdown
 dcn mode vlan
#
interface Ethernet1/0/2.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/3
 undo shutdown
 dcn mode vlan
#
interface Ethernet1/0/3.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/4
 undo shutdown
 dcn mode vlan
#
interface Ethernet1/0/4.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/5
 undo shutdown
 dcn mode vlan
#
interface Ethernet1/0/5.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/6
 description Link to Sulphur-44
 undo shutdown
 ip address 10.0.44.7 255.255.255.0
 isis enable 1
 mpls
 mpls ldp
 dcn mode vlan
#
interface Ethernet1/0/6.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/7
 undo shutdown
 dcn mode vlan
#
interface Ethernet1/0/7.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/8
 undo shutdown
 dcn mode vlan
#
interface Ethernet1/0/8.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface Ethernet1/0/9
 description Link to Xenon-11
 undo shutdown
 ip address 10.0.11.10 255.255.255.0
 isis enable 1
 mpls
 mpls ldp
 dcn mode vlan
#
interface Ethernet1/0/9.4094
 vlan-type dot1q 4094
 ip binding vpn-instance __dcn_vpn__
#
interface GigabitEthernet0/0/0
 undo shutdown
#
interface LoopBack0
 ip address 10.128.51.33 255.255.255.255
 isis enable 1
#
interface LoopBack2147483644
 description DCN loopback interface
 ip binding vpn-instance __dcn_vpn__
#
interface LoopBack2147483645
 description DCN loopback interface
 ip binding vpn-instance __dcn_vpn__
 ip address 128.1.138.137 255.255.0.0
#
interface LoopBack2147483646
 description DCN loopback interface
 ip binding vpn-instance __dcn_vpn__
#
interface LoopBack2147483647
 description DCN loopback interface
 ip binding vpn-instance __dcn_vpn__
#
interface NULL0
#
bgp 20222
 router-id 10.128.51.33
 peer 10.128.51.11 as-number 20222
 peer 10.128.51.11 connect-interface LoopBack0
 peer 10.128.51.44 as-number 20222
 peer 10.128.51.44 connect-interface LoopBack0
 #
 ipv4-family unicast
  undo synchronization
  network 10.128.51.33 255.255.255.255
  peer 10.128.51.11 enable
  peer 10.128.51.44 enable
 #
 ipv4-family vpnv4
  undo policy vpn-target
#
ospf 65534 vpn-instance __dcn_vpn__
 description DCN ospf create by default
 opaque-capability enable
 hostname
 vpn-instance-capability simple
 area 0.0.0.0
  network 0.0.0.0 255.255.255.255
#
!The DCN function implements the capability of plug-and-play for this device.
!A NE IP address based on the unique NE ID is automatically generated in VPN
!of DCN. It is recommended that the NE IP address be changed to the planned 
!one by running the ne-ip X.X.X.X <MASK> command after the device being online.
dcn
#
lldp enable
#
ssh authorization-type default aaa
#
ssh server cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr aes256_cbc aes128_cbc 3des_cbc
#
ssh server dh-exchange min-len 1024
#
ssh client cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr aes256_cbc aes128_cbc 3des_cbc
#
header login information "Property of Hafnium Networks. Unauthorized access is prohibited. For support, please contact network.support@hafnium.com"
#
user-interface con 0
#
user-interface aux 0
#
local-aaa-server
#
vm-manager
#
return
